In [1]:
import pandas as pd
print(pd.__version__)

1.3.5

In [2]:
data1=['a', 'b', 'c', 'd', 'e']
print(data1)

['a', 'b', 'c', 'd', 'e']

In [3]:
print("자료형: ", type(data1))

자료형:  <class 'list'>

In [4]:
sr1=pd.Series(data1)
print("자료형: ", type(sr1))

자료형:  <class 'pandas.core.series.Series'>

In [5]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
sr1.loc[0]

'a'

In [7]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

In [8]:
data2=(1, 2, 3.14, 100, -10)
sr2=pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [10]:
dict_data={'c0':sr1, 'c1':sr2}
df1=pd.DataFrame(dict_data)
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [12]:
df1.columns

Index(['c0', 'c1'], dtype='object')

In [13]:
df1.columns=['string', 'number']
df1

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

In [14]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
df1.index=['r0', 'r1', 'r2', 'r3', 'r4']
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [16]:
df1.loc['r2', 'number']

3.14

In [17]:
df1.loc['r2':'r3', 'string':'number']

   string  number
r2      c    3.14
r3      d  100.00

In [18]:
df1.loc['r2':'r3', 'number']

r2      3.14
r3    100.00
Name: number, dtype: float64

In [19]:
df1.loc['r2', 'string':'number']

string       c
number    3.14
Name: r2, dtype: object

In [20]:
df1.loc[:, 'string']

r0    a
r1    b
r2    c
r3    d
r4    e
Name: string, dtype: object

In [21]:
df1.loc['r2':'r3',:]

   string  number
r2      c    3.14
r3      d  100.00

In [22]:
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00