<a href="https://colab.research.google.com/github/gnbhub/gnb_2022_1_Ai_team3/blob/master/Week1/Pandas_wonaepark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
print(pd.__version__)

1.3.5

In [2]:
data1=['a','b','c','d','e'] #리스트는 대괄호와 콤마를 사용하여 값을 구분
print(data1)

['a', 'b', 'c', 'd', 'e']

In [3]:
print("자료형:",type(data1))

자료형: <class 'list'>

In [4]:
sr1=pd.Series(data1)
print("자료형:",type(sr1))

자료형: <class 'pandas.core.series.Series'>

In [5]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [6]:
sr1.loc[0]

'a'

In [7]:
sr1.loc[1:3] #dtpye은 데이터의 자료형, object는 문자열을 뜻함

1    b
2    c
3    d
dtype: object

In [8]:
data2=(1,2,3.14,100,-10) #튜플은 소괄호와 콤마를 이용하여 값을 구분
sr2=pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [9]:
dict_data={'c0':sr1, 'c1':sr2} #시리즈 2개를 원소로 갖는 딕셔너리 정의, c0, c1은 딕셔너리 키, 각 열의 이름이 됨.
df1=pd.DataFrame(dict_data) #DataFrame 함수에 입력
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00

In [10]:
type(df1)

pandas.core.frame.DataFrame

In [11]:
df1.columns #딕셔너리 키 c0,c1이 데이터 프레임의 열 이름으로 변환된 것을 확인 할 수 있음

Index(['c0', 'c1'], dtype='object')

In [12]:
df1.columns=['string', 'number']
df1

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

In [13]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
df1.index=['r0','r1','r2','r3','r4']
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [15]:
df1.loc['r2','number'] #loc[행 인덱스, 열 이름] 형태로 입력하여 해당 위치 원소 추출

3.14

In [16]:
df1.loc['r2':'r3', 'string':'number']

   string  number
r2      c    3.14
r3      d  100.00

In [17]:
df1.loc['r2':'r3','number'] #하나의 열이 추출, 원소 2개를 갖는 시리즈 객체

r2      3.14
r3    100.00
Name: number, dtype: float64

In [18]:
df1.loc['r2','string':'number']

string       c
number    3.14
Name: r2, dtype: object

In [19]:
df1.loc[:,'string'] #시리즈 객체가 추출됨

r0    a
r1    b
r2    c
r3    d
r4    e
Name: string, dtype: object

In [20]:
df1.loc['r2':'r3',:] #데이터 프레임이 추출됨

   string  number
r2      c    3.14
r3      d  100.00

In [21]:
df1.loc[:,:]

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

In [22]:
df1

   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00