<a href="https://colab.research.google.com/github/gnbhub/gnb_2022_1_Ai_team3/blob/master/week1/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
print(pd.__version__)

1.3.5

In [7]:
data1=['a','b','c','d','e']
print(data1)

['a', 'b', 'c', 'd', 'e']

In [8]:
print("자료형:", type(data1))

자료형: <class 'list'>

In [9]:
sr1=pd.Series(data1)
print("자료형:", type(sr1))

자료형: <class 'pandas.core.series.Series'>

In [10]:
print(sr1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [11]:
sr1.loc[0]

'a'

In [12]:
sr1.loc[1:3]

1    b
2    c
3    d
dtype: object

In [14]:
data2=(1,2,3.14,100,-10)
sr2=pd.Series(data2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [15]:
dict_data={'c0':sr1,'c1':sr2}
df1=pd.DataFrame(dict_data)
df1

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00